[field=custom_account_contacts] {
    display: block;
    width: 100%;
}

[data-field=custom_account_contacts] .col-1-label, [data-field=custom_account_contacts] .label {
    display: none;
}

tr.fieldsLabelTR td {
    font-weight: bold;
    font-size: 14px;
    padding: 10px 0px 10px 0px !important;
}

tr.listContacts td {
    padding: 10px 0px 10px 0px !important;
    font-size: 14px;
}

span#custom_account_contacts_span {
    width: 100%;
}

table#contact {
    width: 100%;
}

thead#contact_head {
    font-size: 14px;
    font-weight: bold;
}

tr#contact_head td {
    padding: 10px 0px 10px 0px;
}

button.contact_delete .suitepicon.suitepicon-action-clear {
    display: block;
}

tfoot#contact_tfoot tr td {
    padding: 25px 0px 0px 0px;
}
.tab-hidden-class {
    display: none !important;
}

/*button.button.contact_assigned_user_name_button {
    font-size: 10px;
    padding: 0 10px 0 10px;
    position: absolute;
    width: 35px;
    height: 32px;
    right: 480px;
}**/

span.suitepicon.suitepicon-action-select {
    display: block;
}

.editListBody {
    height: 50px;
}

.relatetype {
    display: flex;
}

span.suitepicon.suitepicon-action-clear {
    display: block;
}

#typerelate .button {
    font-size: 10px;
    padding: 0 10px 0 10px;
    margin: 0 2px 0 2px;
}

button.contact_delete {
    font-size: 10px;
    padding: 0 10px 0 10px;
}

.relatetype .sqsEnabled {
    width: auto !important;
    display: block;
    margin-top: 0;
    margin-right: 0;
    clear: both;
}

.yui-ac-content{
    width: auto !important;
}